<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Name</p>
  <div class="field">
    <%= form.text_field :name, id: :album_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
