<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prefix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.prefix %></td>
        <td ><%= link_to 'Add Images', album %></td>
        <td ><%= link_to 'Show Images', show_images_path(album) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Create New Album', new_album_path %>
