<%= link_to 'Back', albums_path %>

<p id="notice"><%= notice %></p>

<h2> Album <%= "#{@album.name}" %></h2>

<div style="margin-top: 30px">
  <p> Add new images</p>
  <%= s3_uploader_form callback_url: "create-images",
                     callback_method: "POST",
                     callback_param: "image_url",
                     key: "#{@album.prefix}/{timestamp}-{unique_id}/original.{extension}",
                     key_starts_with: "#{@album.prefix}",
                     acl: "public-read",
                     max_file_size: 50.megabytes,
                     id: "myS3Uploader",
                     class: "upload-form" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>
</div>

<br>
<br>

<table>
   <tbody>
    <tr>
      <td>Existing Images:</td>
      <td><%= @album.images.count %> </td>
    </tr>
  </tbody>


   <tbody>
    <tr>
       <td><%= link_to 'Show Images', show_images_path(@album) %></td>
    </tr>
  </tbody>

</table>


<script type="text/javascript">

  $(document).ready(function () {
   $("#myS3Uploader").S3Uploader();

  $('#myS3Uploader').bind('s3_uploads_start', function() {
    console.log("Uploads have started")
  });

  $('#myS3Uploader').bind("s3_upload_complete", function(e, content){
    //alert(content.url)
  });
  
  $(document).bind('s3_uploads_complete', function() {
    if(typeof flag == "undefined"){
       alert("All Uploads completed") 
    }
    flag = true
  });

  $('#myS3Uploader').bind("ajax:success", function(e, data){
    console.log("server was successfully notified of new file on S3")
  });

   $('#myS3Uploader').bind("ajax:error", function(e, data){
      alert("server was notified of new file on S3 responded with " + data['responseJSON']['message'].join(",") )
    });

  $('#myS3Uploader').bind("s3_upload_failed", function(e, content){
    alert( content.filename + "  failed to upload : " + content.error_thrown )
  });
});
  

  
</script>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

