<head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<%= link_to 'Back To Albums', albums_path %>
<% count = @gallery_images.count %>
<% unless count.zero? %>

        <body class="home">
        <div class="container" style="margin-top:40px;">
            <h2>Gallery</h2>
            <div class="demo-gallery">
                <ul class="list-unstyled row">
                    <% @gallery_images.each_with_index do |image_url, index| %>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                        <a href=<%="#{image_url}"%> target="_blank">
                            <img class="img-responsive" src=<%="#{image_url}"%>>
                        </a>
                    </li>
                    <% end %>

                </ul>
            </div>
        </div>
    </body>   
<br>

<% else %>
    <h3>No images in Album</h3>
<% end %>
